**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/Dockerfile*
**/docker-compose*
**/node_modules
**/.idea
**/coverage
**/TestResults
**/*.md
!README.md
